h1{
    color: blue;
}
/**{
    border: solid;
}*/
.header{
    background-color:#0df0dd;
    display: flex;
    justify-content: space-between;
    font-size: xx-large;
    font-style: italic;
    text-decoration-color: black;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
body{
    background-color: #808080;
   
}